<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="/javascripts/scripts.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    

  </head>
  <body>

  <div id="main">
    <h1>Short.ly</h1>
    <div><label for ="originalUrl">Simplify your Sharing</label></div>
      <form id="url-shortner-form" action="/">
      <div><input class="url-input" type="url" id="oUrl" autofocus="true" placeholder="Paste your long URL here" /></div>
        
      <div><input class="submit" type="submit" value="Shorten!"></div>
      </form>
  
    <div id="display" style="display: none">
      <a href="" id="display-title" target="_blank"></a>
    </div>
    </div>
  </body>
</html>
